.priceoptio nen {
	text-align: center;
}    

.priceoptionen select {
    font-family: 'Roboto';
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
	background-position: 90% 50%;
	border: 1px solid #dfdfdf;
}